::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Color of the track */
}

/* Thumb */
::-webkit-scrollbar-thumb {
    background: #a5a5a5;
    /* Color of the thumb */
    border-radius: 5px;
    /* Roundness of the thumb */
}